*{margin: 0;
padding: 0;
box-sizing: border-box;
  }

[href] {
  text-decoration: none;
}

table {
  border-collapse: collapse;

  width: 70%;

  font-size: 17px;
  text-align: left;
  
  
}
table th {
  padding: 10px;
  background: #3d7ba8;
  color: #fff;
}
table td {
  padding: 5px;
}

table thead th, tr{
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

h1{
	display: inline-block;
}
.titulo {
	font-family: 'Arial';
    font-weight: bold;
    letter-spacing: 2px;
  
}

.nuevo{
	width: auto;
	
}
